
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  /* background: #ccc; */
  overflow-x: hidden;
}

a {
  color: white;
  margin-top: 3px;
  text-decoration: none;
}

/* Backgrounds */

video {
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: -1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(105, 105, 105);
}

/* Navigation Section */

.navigation {
  position: fixed;
  top: 0;
  /* vertical-align: middle; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: black;
  min-height: 10vh;
  z-index: 10;
}

.navigation-icon {
  margin-left: 2.5rem;
  display: flex;
  color: white;
  font-size: 2rem;
}

.navigation-logo {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Kaushan Script', cursive;
}

.navigation-burger {
  margin-right: 2rem;
  width: 35px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation-burger input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.links-burger {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.line1,
.line2,
.line3 {
  display: flex;
  border-bottom: 4px solid white;
  position: relative;
  border-radius: 5px;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.line1,
.line2 {
  margin-bottom: 6px;
}

.current-link{
  color: hsl(41, 100%, 83%);
  font-weight: bold;
  cursor: default !important;
  
}