* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

/* Navigation Section */

.navigation {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: black;
  height: 4rem;
}

.navigation-icon {
  position: absolute;
  left: 1.5rem;
  display: flex;
  color: white;
  font-size: 2rem;
}

.navigation-logo {
  font-size: 2rem;
  color: white;
  flex-direction: row;
  justify-content: center;
  font-family: 'Kaushan Script', cursive;
}

.navigation-burger {
  z-index: 2;
  position: absolute;
  right: 1.5rem;
  width: 35px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.navigation-burger input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;

  opacity: 0;
  z-index: 2;
}

.navigation-burger__line {
  display: flex;
  border-bottom: 4px solid white;
  margin-bottom: 6px;
  position: relative;
  border-radius: 5px;
  width: 100%;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.navigation-burger .navigation-burger__line:first-child {
  transform-origin: 0% 0%;
}

.navigation-burger .navigation-burger__line:nth-last-child(1)
{
  transform-origin: 0% 100%;
}

.navigation-burger input:checked ~ .navigation-burger__line {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.navigation-burger input:checked ~ .navigation-burger__line:nth-last-child(2) {
  transform: rotate(0deg) scale(0.2, 0.2);
  opacity: 0;
}

.navigation-burger input:checked ~ .navigation-burger__line:nth-last-child(1)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/* .navigation-burger__line:nth-child(2){
  border-bottom: 3px solid white;
  margin-bottom: 5px;
  width: 80%;
  flex-direction: row-reverse;
} */
