* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: white;
}

/* Backgrounds */

video {
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: -1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Navigation Section */

.navigation {
  position: fixed;
  top: 0;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: black;
  height: 4rem;
}

.navigation-icon {
  position: absolute;
  margin-top: 10px;
  left: 1.5rem;
  display: flex;
  color: white;
  font-size: 2rem;
}

.navigation-logo {
  font-size: 2rem;
  color: white;
  flex-direction: row;
  justify-content: center;
  font-family: 'Kaushan Script', cursive;
}

.navigation-burger {
  z-index: 2;
  position: absolute;

  right: 1.5rem;
  width: 35px;
  height: 30px;
  margin-top: 10px;
  padding: 0;
  cursor: pointer;
}
.navigation-burger input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;

  opacity: 0;
  z-index: 2;
}

.line1,
.line2,
.line3 {
  display: flex;
  border-bottom: 4px solid white;
  margin-bottom: 6px;
  position: relative;
  border-radius: 5px;
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Input Section */

.input {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: aqua;
  margin: 5rem 4rem 2rem 4rem;
}

.input__search-box {
  height: 3rem;
  width: 100%;
  max-width: 300px;
  border-radius: 15px 0 15px 0;
  border: none;
  border-bottom: orange 4px solid;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  transition: 0.2s ease-out;
}

.input__search-box:focus {
  background: rgba(255, 255, 255, 0.8);
}

/* Output Section */

.output,
.current-weather {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  padding: 1.5rem, 1.5rem, 3rem;
  align-items: center;
  text-align: center;
}

.output-location__city {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0rem;
}
.output-location__date {
  color: #fff;
  font-size: 2rem;
}
.current-weather .temp {
  color: #fff;
  font-size: 6.5rem;
  font-weight: bold;
  text-shadow: 2px 8px 5px rgba(0, 0, 0, 0.5);
}

.current-weather span {
  font-weight: 500;
  font-size: 5rem;
}

.current-weather .weather {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
}

.current-weather .hi-lo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
}

.toggle .line1 {
  transform: rotate(45deg) translate(5px, 10px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: translate(-4px, -10px) rotate(-45deg);
}
