* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ccc;
  overflow-x: hidden;
}

a {
  color: white;
  margin-top: 3px;
}

/* Backgrounds */

video {
  position: absolute;
  top: 0;
  object-fit: cover;
  z-index: -1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Navigation Section */

.navigation {
  position: fixed;
  top: 0;
  /* vertical-align: middle; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: black;
  min-height: 10vh;
}

.navigation-icon {
  margin-left: 2.5rem;
  display: flex;
  color: white;
  font-size: 2rem;
}

.navigation-logo {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Kaushan Script', cursive;
}

.navigation-burger {
  margin-right: 2rem;
  width: 35px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation-burger input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.links-burger {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.line1,
.line2,
.line3 {
  display: flex;
  border-bottom: 4px solid white;
  position: relative;
  border-radius: 5px;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.line1,
.line2 {
  margin-bottom: 6px;
}

/* Menu Section */

.side-menu {
  position: absolute;
  right: 0;
  height: 90vh;
  bottom: 0;
  background: black;
  color: rgb(224, 224, 224);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.side-menu-active {
  transform: translateX(0%);
}

.menu-links {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: black;
  color: #ccc;
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu-links li {
  transition: opacity 0.9s ease-in-out;
  list-style-type: none;
}

.menu-links li a {
  text-decoration: none;
  color: white;
}

.menu-links li a:hover,
.menu-links li a:active {
  font-weight: bold;
}

.active-link {
  font-weight: bold;
}

/* Input Section */

.input {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: aqua;
  margin: 5rem 4rem 2rem 4rem;
}

.input__search-box {
  height: 3rem;
  width: 100%;
  max-width: 300px;
  border-radius: 15px 0 15px 0;
  border: none;
  border-bottom: orange 4px solid;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  padding-left: 2rem;
  font-size: 1.5rem;
  transition: 0.2s ease-out;
}

.input__search-box:focus {
  background: rgba(255, 255, 255, 0.8);
}

.here {
  display: flex;
  align-items: center;
}
.here i {
  padding-left: 2rem;
  font-size: 2.5rem;
  color: black;
  cursor: pointer;
}

.here i:active,
.here i:hover{
  color: rgb(66, 66, 66);
}


/* Output Section */

.output,
.current-weather {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  padding: 1.5rem, 1.5rem, 3rem;
  align-items: center;
  text-align: center;
}

.output-location__city {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0rem;
}
.output-location__date {
  color: #fff;
  font-size: 2rem;
}
.current-weather .temp {
  color: #fff;
  font-size: 6.5rem;
  font-weight: bold;
  text-shadow: 2px 8px 5px rgba(0, 0, 0, 0.5);
}

.current-weather span {
  font-weight: 500;
  font-size: 5rem;
}

.current-weather .weather {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
}

.current-weather .hi-lo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
}

.toggle .line1 {
  transform: rotate(45deg) translate(5px, 10px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: translate(-4px, -10px) rotate(-45deg);
}

.hide {
  opacity: 0;
}
